<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div>
<!--    <p th:text="${client.getClientId()}">It is Error</p>-->
<!--    <p th:text="${client.getClientSecret()}">It is Error</p>-->
<!--    <p th:text="${client.getRedirectUri()}">It is Error</p>-->
<!--    <p th:text="${reqId}">It is Error</p>-->

    <h1 th:text="Hello + ' ' + ${email}">ERROR</h1>

    <table>
        <h3>those scope will use by This Client Application. you don't have a choice</h3>
        <ul th:each="elem : ${scope}">
            <li th:text="${elem}"></li>
        </ul>
    </table>
    <form action="/approve" method="post">
        <input type="hidden" name="reqId" th:value="${reqId}">
        <input type="hidden" name="scope" th:value="${scope}">
        <input type="hidden" name="email" th:value="${email}">
        <input type="submit" name="approve" value="Approve">
    </form>
</div>
</body>
</html>