<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div>
    <form name="userLoginParam" action="/loginAction" method="post">

        <h4 th:text="response_type + ': ' + ${response_type}">error</h4>
        <h4 th:text="scope + ': '+${scope}">error</h4>
        <h4 th:text="client_id + ': '+${client_id}">error</h4>
        <h4 th:text="redirect_uri + ': '+${redirect_uri}">error</h4>
        <h4 th:text="state + ': '+${state}">error</h4>

        <hr>

        <h1 th:text="error + ': '+${error eq null ? '없음' : error}">에러가 없네용 ^^</h1>

        <input type="hidden" name="response_type" th:value="${response_type}"/>
        <input type="hidden" name="scope" th:value="${scope}"/>
        <input type="hidden" name="client_id" th:value="${client_id}"/>
        <input type="hidden" name="redirect_uri" th:value="${redirect_uri}"/>
        <input type="hidden" name="state" th:value="${state}"/>

        <span>email</span><input type="text" name="email">
        <span>password</span><input type="password" name="password">
        <input type="submit" value="로그인">
    </form>
</div>
</body>
</html>